.notification {
  .notice {
    background-color: #38AEF0;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: gold;
    color: black;
    text-align: center;
    margin: 0;
  }
}