$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

.notification {
  .notice {
    background-color: $light_blue;
    height: 5vh;
    line-height: 5vh;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: gold;
    height: 5vh;
    line-height: 5vh;
    color: black;
    text-align: center;
  }
}