html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top {
  height: 100vh;
  width: 100vw;
  background-color: black;
  .image {
    height: 100%;
    width: 100%;
  }
  .top-title {
    position: absolute;
    font-size: 60px;
    top: 5vh;
    left: 30px;
    color: black;
    font-family: 'Caveat', cursive;
  }
  .top-sub-title {
    position: absolute;
    font-size: 20px;
    top: 15vh;
    left: 40px;
    color: black;
  }
}

.header {
  height: 20vh; 
  width: 100vw;
  &__top-box {
    height: 100%;
    width: 100vw;
    background-color: black;
    display: flex;
    line-height: 20vh;
    justify-content: space-between;
    &__left {
      margin: 0 0 0 30px;
      font-size: 60px;
      text-decoration: none;
      .LINK {
        text-decoration: none;
        color: gold;
        font-family: 'Caveat', cursive;
      }
    }
    &__right {
      margin: 2vh 20px 0 0; 
      .LINK {
        font-size: 16px;
        text-decoration: none;
        color: gold;
        padding: 0 5px
      }
      .twitter-share-button {
        text-decoration: none;
        color: gold;
      }
    }
  }
}


.header-wrapper {
  height: 20vh;
  width: 100vw;
  .search-form__field {
    height: 20vh;
    width: 70vw;
    background-color: white;
    margin: 20px;
    padding: 60px 30px 0;
    &--top {
      .search-form__label {
        font-size: 18px;
        font-weight: bold;
      }
    }
    &--bottom {
      .search-form__search {
        .search-form__input {
          height: 5vh;
          width: 40vw;
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
  }
}

.wrapper {
  height: 100%;
  .main {
    width: 70vw;
    height: 100%;
    margin: 20px 20px;
    padding: 60px 30px 0;
    box-sizing: content-box;
    .title-box {
      display: flex;
      font-size: 18px;
      .ranking-box__title {
        width: 35vw;
        font-weight: bold;
      }
      .vote-box__title {
        width: 10vw;
        text-align: center;
      }
      .author-box__title {
        width: 10vw;
        text-align: center;
      }
      .created-time-box__title {
        width: 10vw;
        text-align: center;
      }
      .remaining {
        color: black;
      }
    }
    .contents {
      .contents-box {
        display: flex;
        border-bottom: 1px solid gray;
        margin: ５px;
        height: 60px;
        line-height: 80px;
        .ranking-box__content {
          width: 35vw;
          &--link {
          text-decoration: none;
          color: black;
          }
        }
        .vote-box__content {
          width: 10vw;
          text-align: center;
        }
        .author-box__content {
          width: 10vw;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 0;
        }
        .created-time-box__content {
          width: 10vw;
          text-align: center;
        }
        .delete-box {
          width: 5vw;
          text-align: center;
          &--link {
            text-decoration: none;
            color: #38AEF0;
          }
        }
      }
    }
  }
}
.pagenate {
  padding-top: 30px;
}

.graph {
  margin-top: 10vh;
  height: 60px;
  width: 95%;
}

.vote-button__signed-in {
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  background-color: gold;
  border-radius: 5px;
  line-height: 16px;
  // display: inline-block;
  // border: none;
  // padding: 10px 10px;
  // font-size: 16px;  
  // color: #fff;
  // background-color: gold;
  // border-radius: 5px;
}
.delete-button {
  // margin-left: 18px;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  border-radius: 5px;
}
.vote-button__no-signed-in {
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  background-color: gold;
  border-radius: 5px;
}
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.row {
  padding-top: 10vh;
}
// %i { 
//   font-family: "Font Awesome 5 Free";
//   font-weight: 400;
//   content: "/f081";
// }