html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 15vh; 
  width: 100vw;
  &__top-box {
    height: 70px;
    width: 100vw;
    color: white;
    background-color: black;
    display: flex;
    line-height: 70px;
    justify-content: space-between;
    &__left {
      margin-left: 20px;
      font-size: 40px;
      text-decoration: none;
      .LINK {
        text-decoration: none;
        color: gold;
      }
    }
    &__right {
      margin-right: 20px; 
      .LINK {
        font-size: 16px;
        text-decoration: none;
        color: gold;
        padding: 0 5px
      }
    }
  }
}

.search-form__field {
  height: 10vh;
  width: 50vw;
  margin: 20px 60px 20px;
  &--top {
    .search-form__label {
      font-size: 18px;
      font-weight: bold;
    }
  }
  &--bottom {
    .search-form__search {
      .search-form__input {
        height: 5vh;
        width: 40vw;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

.wrapper {
  height: 75vh;
  .main {
    width: 70vw;
    padding: 30px 60px;
    box-sizing: content-box;
    .title-box {
      display: flex;
      font-size: 18px;
      .ranking-box__title {
        width: 40vw;
        font-weight: bold;
      }
      .vote-box__title {
        width: 10vw;
        text-align: center;
      }
      .author-box__title {
        width: 10vw;
        text-align: center;
      }
      .created-time-box__title {
        width: 10vw;
        text-align: center;
      }
      .remaining {
        color: red;
      }
    }
    .contents {
      .contents-box {
        display: flex;
        border-bottom: 1px solid gray;
        margin: ５px;
        height: 60px;
        line-height: 80px;
        .ranking-box__content {
          width: 40vw;
          &--link {
          text-decoration: none;
          color: black;
          }
        }
        .vote-box__content {
          width: 10vw;
          text-align: center;
        }
        .author-box__content {
          width: 10vw;
          text-align: center;
        }
        .created-time-box__content {
          width: 10vw;
          text-align: center;
        }
      }
    }
  }
}
.pagenate {
  padding-top: 30px;
}

.graph {
  margin-top: 5vh;
  height: 80px;
  width: 100%;
}

.vote-button {
  // border: 1px solid goldenrod; 
  // background-color: gold;
  // margin: 10px;
  
}
.delete-button {
  // border: 1px solid gray; 
  // background-color: gainsboro;
  // margin: 10px;
  
}